<app-camera (getPicture)="handleImage($event)"></app-camera>

<div style="text-align:center; width:100%; height:100%;" *ngIf="webcamImage">
  <div class="webcam-image">
    <img [src]="webcamImage.imageAsDataUrl" />
    <br>
    <br>
  </div>
  <div style="margin: 0 auto;">
    <button type="button" class="btn btn-primary" (click)="saveFaceToCollection()">Registrar</button>
    <button type="button" class="btn btn-primary" (click)="searchOnCollection(webcamImage)">Validar</button>
    <br>
  </div>
  <div style="margin-right: 20%; margin-left: 20%;" *ngIf="showForm">
    <h2>Datos de registro</h2>
    <form #contactForm="ngForm" (ngSubmit)="submit(webcamImage, contactForm.value)">
     
      <div class="form-group">
          <label for="firstName">Nombre</label>
          <input required minlength="3" maxlength="10" ngModel name="firstName" type="text" #firstName="ngModel" class="form-control" id="firstName">
          <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
              <div *ngIf="firstName.errors && firstName.errors['required']">Nombre es requerido.</div>
          </div>
      </div>
         
      <div class="form-group">
          <label for="lastName">Apellido</label>
          <input required ngModel name="lastName" type="text" #lastName="ngModel" class="form-control" id="lastName">
          <div class="alert alert-danger" *ngIf="lastName.touched && !lastName.valid">
              Apellido es requerido.
          </div>
      </div>
          
      <button class="btn btn-primary" type="submit" [class.disabled]="!contactForm.valid">Finalizar Registro</button>
        
    </form>
  </div>

  <div *ngIf="(s3Message.statusCode !== undefined) && showResult">
    <h4>{{ s3Message.body.s3.message }}</h4>

    <img [src]="passOrnot" />
    <h1 *ngIf="showSimilarity">{{similarity}} % de similitud</h1>
    <h1 *ngIf="!showSimilarity">Usuario registrado</h1>
    <br>
    <button class="btn btn-primary" type="button" (click)="refrescar()">Salir</button>
  </div>
</div>